/* 서체 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
    font-family: 'Sukmyung';
    src: url('../fonts/SMUSnowflake-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Sukmyung';
    src: url('../fonts/SMUSnowflake-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


