/**********************
* 파일명 : layout.css
* 작성자 : 함지훈
* 작성일 : 25-11-11
* 설  명 : header/footer 스타일을 선언함
**********************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin);
    transition: transform 0.5s;
}
header .logo a {
    display: block;
    width: 94px;
    height: 30px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}

header .util {
    display: flex;
    gap: 0 5px;
}
header .util a {
    display: block;
    width: 40px;
    height: 40px;
    position: relative; /* before 정렬의 기준 */
}
header .util a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-position: center center;    
    background-repeat: no-repeat;
}
header .util .cart a::before {
    background-size: 26.85px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 27 27' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.06186 26.8729C7.32286 26.8729 6.69023 26.6098 6.16397 26.0835C5.63771 25.5572 5.37458 24.9246 5.37458 24.1856C5.37458 23.4466 5.63771 22.814 6.16397 22.2877C6.69023 21.7614 7.32286 21.4983 8.06186 21.4983C8.80087 21.4983 9.4335 21.7614 9.95976 22.2877C10.486 22.814 10.7492 23.4466 10.7492 24.1856C10.7492 24.9246 10.486 25.5572 9.95976 26.0835C9.4335 26.6098 8.80087 26.8729 8.06186 26.8729ZM21.4983 26.8729C20.7593 26.8729 20.1267 26.6098 19.6004 26.0835C19.0741 25.5572 18.811 24.9246 18.811 24.1856C18.811 23.4466 19.0741 22.814 19.6004 22.2877C20.1267 21.7614 20.7593 21.4983 21.4983 21.4983C22.2373 21.4983 22.8699 21.7614 23.3962 22.2877C23.9225 22.814 24.1856 23.4466 24.1856 24.1856C24.1856 24.9246 23.9225 25.5572 23.3962 26.0835C22.8699 26.6098 22.2373 26.8729 21.4983 26.8729ZM6.91977 5.37458L10.1445 12.0928H19.55L23.245 5.37458H6.91977ZM5.64331 2.68729H25.4621C25.9771 2.68729 26.369 2.91683 26.6377 3.37591C26.9065 3.83498 26.9177 4.29966 26.6713 4.76994L21.9014 13.3693C21.6551 13.8171 21.3248 14.1642 20.9105 14.4106C20.4962 14.6569 20.0427 14.7801 19.55 14.7801H9.53987L8.06186 17.4674H24.1856V20.1547H8.06186C7.05413 20.1547 6.29273 19.7124 5.77767 18.8278C5.26261 17.9432 5.24021 17.0643 5.71049 16.1909L7.52441 12.899L2.68729 2.68729H0V0H4.36684L5.64331 2.68729Z' /%3E%3C/svg%3E%0A");
}
header .util .mypage a::before {
    background-size: 25px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8125 18.875C5.875 18.0625 7.0625 17.4219 8.375 16.9531C9.6875 16.4844 11.0625 16.25 12.5 16.25C13.9375 16.25 15.3125 16.4844 16.625 16.9531C17.9375 17.4219 19.125 18.0625 20.1875 18.875C20.9167 18.0208 21.4844 17.0521 21.8906 15.9688C22.2969 14.8854 22.5 13.7292 22.5 12.5C22.5 9.72917 21.526 7.36979 19.5781 5.42188C17.6302 3.47396 15.2708 2.5 12.5 2.5C9.72917 2.5 7.36979 3.47396 5.42188 5.42188C3.47396 7.36979 2.5 9.72917 2.5 12.5C2.5 13.7292 2.70312 14.8854 3.10937 15.9688C3.51562 17.0521 4.08333 18.0208 4.8125 18.875ZM12.5 13.75C11.2708 13.75 10.2344 13.3281 9.39063 12.4844C8.54688 11.6406 8.125 10.6042 8.125 9.375C8.125 8.14583 8.54688 7.10938 9.39063 6.26563C10.2344 5.42188 11.2708 5 12.5 5C13.7292 5 14.7656 5.42188 15.6094 6.26563C16.4531 7.10938 16.875 8.14583 16.875 9.375C16.875 10.6042 16.4531 11.6406 15.6094 12.4844C14.7656 13.3281 13.7292 13.75 12.5 13.75ZM12.5 25C10.7708 25 9.14583 24.6719 7.625 24.0156C6.10417 23.3594 4.78125 22.4688 3.65625 21.3438C2.53125 20.2188 1.64063 18.8958 0.984375 17.375C0.328125 15.8542 0 14.2292 0 12.5C0 10.7708 0.328125 9.14583 0.984375 7.625C1.64063 6.10417 2.53125 4.78125 3.65625 3.65625C4.78125 2.53125 6.10417 1.64063 7.625 0.984375C9.14583 0.328125 10.7708 0 12.5 0C14.2292 0 15.8542 0.328125 17.375 0.984375C18.8958 1.64063 20.2188 2.53125 21.3438 3.65625C22.4688 4.78125 23.3594 6.10417 24.0156 7.625C24.6719 9.14583 25 10.7708 25 12.5C25 14.2292 24.6719 15.8542 24.0156 17.375C23.3594 18.8958 22.4688 20.2188 21.3438 21.3438C20.2188 22.4688 18.8958 23.3594 17.375 24.0156C15.8542 24.6719 14.2292 25 12.5 25ZM12.5 22.5C13.6042 22.5 14.6458 22.3385 15.625 22.0156C16.6042 21.6927 17.5 21.2292 18.3125 20.625C17.5 20.0208 16.6042 19.5573 15.625 19.2344C14.6458 18.9115 13.6042 18.75 12.5 18.75C11.3958 18.75 10.3542 18.9115 9.375 19.2344C8.39583 19.5573 7.5 20.0208 6.6875 20.625C7.5 21.2292 8.39583 21.6927 9.375 22.0156C10.3542 22.3385 11.3958 22.5 12.5 22.5ZM12.5 11.25C13.0417 11.25 13.4896 11.0729 13.8437 10.7187C14.1979 10.3646 14.375 9.91667 14.375 9.375C14.375 8.83333 14.1979 8.38542 13.8437 8.03125C13.4896 7.67708 13.0417 7.5 12.5 7.5C11.9583 7.5 11.5104 7.67708 11.1563 8.03125C10.8021 8.38542 10.625 8.83333 10.625 9.375C10.625 9.91667 10.8021 10.3646 11.1563 10.7187C11.5104 11.0729 11.9583 11.25 12.5 11.25Z' /%3E%3C/svg%3E%0A");
}
/* header가 fixed 되었을 때 */
header.fixed {
    background-color: var(--color-white);
    color: #111;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
header.fixed .logo a {
    background-image: url(../images/common/logo_r.svg);
}
header.fixed .util .cart a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 27 27' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.06186 26.8729C7.32286 26.8729 6.69023 26.6098 6.16397 26.0835C5.63771 25.5572 5.37458 24.9246 5.37458 24.1856C5.37458 23.4466 5.63771 22.814 6.16397 22.2877C6.69023 21.7614 7.32286 21.4983 8.06186 21.4983C8.80087 21.4983 9.4335 21.7614 9.95976 22.2877C10.486 22.814 10.7492 23.4466 10.7492 24.1856C10.7492 24.9246 10.486 25.5572 9.95976 26.0835C9.4335 26.6098 8.80087 26.8729 8.06186 26.8729ZM21.4983 26.8729C20.7593 26.8729 20.1267 26.6098 19.6004 26.0835C19.0741 25.5572 18.811 24.9246 18.811 24.1856C18.811 23.4466 19.0741 22.814 19.6004 22.2877C20.1267 21.7614 20.7593 21.4983 21.4983 21.4983C22.2373 21.4983 22.8699 21.7614 23.3962 22.2877C23.9225 22.814 24.1856 23.4466 24.1856 24.1856C24.1856 24.9246 23.9225 25.5572 23.3962 26.0835C22.8699 26.6098 22.2373 26.8729 21.4983 26.8729ZM6.91977 5.37458L10.1445 12.0928H19.55L23.245 5.37458H6.91977ZM5.64331 2.68729H25.4621C25.9771 2.68729 26.369 2.91683 26.6377 3.37591C26.9065 3.83498 26.9177 4.29966 26.6713 4.76994L21.9014 13.3693C21.6551 13.8171 21.3248 14.1642 20.9105 14.4106C20.4962 14.6569 20.0427 14.7801 19.55 14.7801H9.53987L8.06186 17.4674H24.1856V20.1547H8.06186C7.05413 20.1547 6.29273 19.7124 5.77767 18.8278C5.26261 17.9432 5.24021 17.0643 5.71049 16.1909L7.52441 12.899L2.68729 2.68729H0V0H4.36684L5.64331 2.68729Z' /%3E%3C/svg%3E%0A");
}
header.fixed .util .mypage a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8125 18.875C5.875 18.0625 7.0625 17.4219 8.375 16.9531C9.6875 16.4844 11.0625 16.25 12.5 16.25C13.9375 16.25 15.3125 16.4844 16.625 16.9531C17.9375 17.4219 19.125 18.0625 20.1875 18.875C20.9167 18.0208 21.4844 17.0521 21.8906 15.9688C22.2969 14.8854 22.5 13.7292 22.5 12.5C22.5 9.72917 21.526 7.36979 19.5781 5.42188C17.6302 3.47396 15.2708 2.5 12.5 2.5C9.72917 2.5 7.36979 3.47396 5.42188 5.42188C3.47396 7.36979 2.5 9.72917 2.5 12.5C2.5 13.7292 2.70312 14.8854 3.10937 15.9688C3.51562 17.0521 4.08333 18.0208 4.8125 18.875ZM12.5 13.75C11.2708 13.75 10.2344 13.3281 9.39063 12.4844C8.54688 11.6406 8.125 10.6042 8.125 9.375C8.125 8.14583 8.54688 7.10938 9.39063 6.26563C10.2344 5.42188 11.2708 5 12.5 5C13.7292 5 14.7656 5.42188 15.6094 6.26563C16.4531 7.10938 16.875 8.14583 16.875 9.375C16.875 10.6042 16.4531 11.6406 15.6094 12.4844C14.7656 13.3281 13.7292 13.75 12.5 13.75ZM12.5 25C10.7708 25 9.14583 24.6719 7.625 24.0156C6.10417 23.3594 4.78125 22.4688 3.65625 21.3438C2.53125 20.2188 1.64063 18.8958 0.984375 17.375C0.328125 15.8542 0 14.2292 0 12.5C0 10.7708 0.328125 9.14583 0.984375 7.625C1.64063 6.10417 2.53125 4.78125 3.65625 3.65625C4.78125 2.53125 6.10417 1.64063 7.625 0.984375C9.14583 0.328125 10.7708 0 12.5 0C14.2292 0 15.8542 0.328125 17.375 0.984375C18.8958 1.64063 20.2188 2.53125 21.3438 3.65625C22.4688 4.78125 23.3594 6.10417 24.0156 7.625C24.6719 9.14583 25 10.7708 25 12.5C25 14.2292 24.6719 15.8542 24.0156 17.375C23.3594 18.8958 22.4688 20.2188 21.3438 21.3438C20.2188 22.4688 18.8958 23.3594 17.375 24.0156C15.8542 24.6719 14.2292 25 12.5 25ZM12.5 22.5C13.6042 22.5 14.6458 22.3385 15.625 22.0156C16.6042 21.6927 17.5 21.2292 18.3125 20.625C17.5 20.0208 16.6042 19.5573 15.625 19.2344C14.6458 18.9115 13.6042 18.75 12.5 18.75C11.3958 18.75 10.3542 18.9115 9.375 19.2344C8.39583 19.5573 7.5 20.0208 6.6875 20.625C7.5 21.2292 8.39583 21.6927 9.375 22.0156C10.3542 22.3385 11.3958 22.5 12.5 22.5ZM12.5 11.25C13.0417 11.25 13.4896 11.0729 13.8437 10.7187C14.1979 10.3646 14.375 9.91667 14.375 9.375C14.375 8.83333 14.1979 8.38542 13.8437 8.03125C13.4896 7.67708 13.0417 7.5 12.5 7.5C11.9583 7.5 11.5104 7.67708 11.1563 8.03125C10.8021 8.38542 10.625 8.83333 10.625 9.375C10.625 9.91667 10.8021 10.3646 11.1563 10.7187C11.5104 11.0729 11.9583 11.25 12.5 11.25Z' /%3E%3C/svg%3E%0A");
}
/* 스크롤을 아래로 내릴 때 header 올림
    header에 menu_pc, menu_mo 있을 때는 작동이 안 됐으면 좋겠어요.
*/
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}
/**********************시작 : pc버전 메뉴*************************/
/* 1024 이하는 메뉴가 접힘 1025 이상일 때 스타일 */
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일에서 나옴 */
    }
    
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li 좌우로 정렬 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 0 25px;
        font-size: 20px;
        font-weight: 700;
        line-height: var(--header-h);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 50%;
        top: var(--header-h);
        transform: translateX(-50%);
        text-align: center;
        white-space: nowrap; /* 행간이 높아서 2줄이 되면 이상함. 무조건 1줄로 나오게 함 */
        background-color: #fff;
        color: #555;
        padding: 30px 45px;
        border-radius: 0 0 20px 20px;
        min-width: 100%; /* li 넓이의 100% */
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 8px 0;
        white-space: nowrap;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
        position: relative; /* before 정렬의 기준 */
    }
    /**********************메뉴 hover 스타일*************************/
    header .gnb .gnb_wrap ul.depth1 > li > a:hover,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        color: #9E1313;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a:hover span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -7px;
        width: 100%;
        height: 2px;
        background-color: #9E1313;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover span::before{
        content: "";
        position: absolute;
        left: -15px;
        top: 8px;
        width: 7px;
        height: 7px;
        background-color: #9E1313;
        border-radius: 50%;
    }

    /**********************메뉴에 오버했을 때*************************/
    header.menu_pc {
        background-color: var(--color-white);
        color: #111;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }
    header.menu_pc .logo a {
        background-image: url(../images/common/logo_r.svg)
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: #9E1313;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -7px;
        width: 100%;
        height: 2px;
        background-color: #9E1313;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block !important; 
    }
    header.menu_pc .util .cart a::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 27 27' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.06186 26.8729C7.32286 26.8729 6.69023 26.6098 6.16397 26.0835C5.63771 25.5572 5.37458 24.9246 5.37458 24.1856C5.37458 23.4466 5.63771 22.814 6.16397 22.2877C6.69023 21.7614 7.32286 21.4983 8.06186 21.4983C8.80087 21.4983 9.4335 21.7614 9.95976 22.2877C10.486 22.814 10.7492 23.4466 10.7492 24.1856C10.7492 24.9246 10.486 25.5572 9.95976 26.0835C9.4335 26.6098 8.80087 26.8729 8.06186 26.8729ZM21.4983 26.8729C20.7593 26.8729 20.1267 26.6098 19.6004 26.0835C19.0741 25.5572 18.811 24.9246 18.811 24.1856C18.811 23.4466 19.0741 22.814 19.6004 22.2877C20.1267 21.7614 20.7593 21.4983 21.4983 21.4983C22.2373 21.4983 22.8699 21.7614 23.3962 22.2877C23.9225 22.814 24.1856 23.4466 24.1856 24.1856C24.1856 24.9246 23.9225 25.5572 23.3962 26.0835C22.8699 26.6098 22.2373 26.8729 21.4983 26.8729ZM6.91977 5.37458L10.1445 12.0928H19.55L23.245 5.37458H6.91977ZM5.64331 2.68729H25.4621C25.9771 2.68729 26.369 2.91683 26.6377 3.37591C26.9065 3.83498 26.9177 4.29966 26.6713 4.76994L21.9014 13.3693C21.6551 13.8171 21.3248 14.1642 20.9105 14.4106C20.4962 14.6569 20.0427 14.7801 19.55 14.7801H9.53987L8.06186 17.4674H24.1856V20.1547H8.06186C7.05413 20.1547 6.29273 19.7124 5.77767 18.8278C5.26261 17.9432 5.24021 17.0643 5.71049 16.1909L7.52441 12.899L2.68729 2.68729H0V0H4.36684L5.64331 2.68729Z' /%3E%3C/svg%3E%0A");
    }
    header.menu_pc .util .mypage a::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8125 18.875C5.875 18.0625 7.0625 17.4219 8.375 16.9531C9.6875 16.4844 11.0625 16.25 12.5 16.25C13.9375 16.25 15.3125 16.4844 16.625 16.9531C17.9375 17.4219 19.125 18.0625 20.1875 18.875C20.9167 18.0208 21.4844 17.0521 21.8906 15.9688C22.2969 14.8854 22.5 13.7292 22.5 12.5C22.5 9.72917 21.526 7.36979 19.5781 5.42188C17.6302 3.47396 15.2708 2.5 12.5 2.5C9.72917 2.5 7.36979 3.47396 5.42188 5.42188C3.47396 7.36979 2.5 9.72917 2.5 12.5C2.5 13.7292 2.70312 14.8854 3.10937 15.9688C3.51562 17.0521 4.08333 18.0208 4.8125 18.875ZM12.5 13.75C11.2708 13.75 10.2344 13.3281 9.39063 12.4844C8.54688 11.6406 8.125 10.6042 8.125 9.375C8.125 8.14583 8.54688 7.10938 9.39063 6.26563C10.2344 5.42188 11.2708 5 12.5 5C13.7292 5 14.7656 5.42188 15.6094 6.26563C16.4531 7.10938 16.875 8.14583 16.875 9.375C16.875 10.6042 16.4531 11.6406 15.6094 12.4844C14.7656 13.3281 13.7292 13.75 12.5 13.75ZM12.5 25C10.7708 25 9.14583 24.6719 7.625 24.0156C6.10417 23.3594 4.78125 22.4688 3.65625 21.3438C2.53125 20.2188 1.64063 18.8958 0.984375 17.375C0.328125 15.8542 0 14.2292 0 12.5C0 10.7708 0.328125 9.14583 0.984375 7.625C1.64063 6.10417 2.53125 4.78125 3.65625 3.65625C4.78125 2.53125 6.10417 1.64063 7.625 0.984375C9.14583 0.328125 10.7708 0 12.5 0C14.2292 0 15.8542 0.328125 17.375 0.984375C18.8958 1.64063 20.2188 2.53125 21.3438 3.65625C22.4688 4.78125 23.3594 6.10417 24.0156 7.625C24.6719 9.14583 25 10.7708 25 12.5C25 14.2292 24.6719 15.8542 24.0156 17.375C23.3594 18.8958 22.4688 20.2188 21.3438 21.3438C20.2188 22.4688 18.8958 23.3594 17.375 24.0156C15.8542 24.6719 14.2292 25 12.5 25ZM12.5 22.5C13.6042 22.5 14.6458 22.3385 15.625 22.0156C16.6042 21.6927 17.5 21.2292 18.3125 20.625C17.5 20.0208 16.6042 19.5573 15.625 19.2344C14.6458 18.9115 13.6042 18.75 12.5 18.75C11.3958 18.75 10.3542 18.9115 9.375 19.2344C8.39583 19.5573 7.5 20.0208 6.6875 20.625C7.5 21.2292 8.39583 21.6927 9.375 22.0156C10.3542 22.3385 11.3958 22.5 12.5 22.5ZM12.5 11.25C13.0417 11.25 13.4896 11.0729 13.8437 10.7187C14.1979 10.3646 14.375 9.91667 14.375 9.375C14.375 8.83333 14.1979 8.38542 13.8437 8.03125C13.4896 7.67708 13.0417 7.5 12.5 7.5C11.9583 7.5 11.5104 7.67708 11.1563 8.03125C10.8021 8.38542 10.625 8.83333 10.625 9.375C10.625 9.91667 10.8021 10.3646 11.1563 10.7187C11.5104 11.0729 11.9583 11.25 12.5 11.25Z' /%3E%3C/svg%3E%0A");
    }
}
/**********************시작 : 모바일버전 메뉴*************************/
@media screen and (max-width:1024px){
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 80px;
        height: 26px;
    }
    header .util {
        display: none;
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 20C1.8125 20 1.22396 19.7552 0.734375 19.2656C0.244792 18.776 0 18.1875 0 17.5C0 16.8125 0.244792 16.224 0.734375 15.7344C1.22396 15.2448 1.8125 15 2.5 15C3.1875 15 3.77604 15.2448 4.26562 15.7344C4.75521 16.224 5 16.8125 5 17.5C5 18.1875 4.75521 18.776 4.26562 19.2656C3.77604 19.7552 3.1875 20 2.5 20ZM10 20C9.3125 20 8.72396 19.7552 8.23438 19.2656C7.74479 18.776 7.5 18.1875 7.5 17.5C7.5 16.8125 7.74479 16.224 8.23438 15.7344C8.72396 15.2448 9.3125 15 10 15C10.6875 15 11.276 15.2448 11.7656 15.7344C12.2552 16.224 12.5 16.8125 12.5 17.5C12.5 18.1875 12.2552 18.776 11.7656 19.2656C11.276 19.7552 10.6875 20 10 20ZM17.5 20C16.8125 20 16.224 19.7552 15.7344 19.2656C15.2448 18.776 15 18.1875 15 17.5C15 16.8125 15.2448 16.224 15.7344 15.7344C16.224 15.2448 16.8125 15 17.5 15C18.1875 15 18.776 15.2448 19.2656 15.7344C19.7552 16.224 20 16.8125 20 17.5C20 18.1875 19.7552 18.776 19.2656 19.2656C18.776 19.7552 18.1875 20 17.5 20ZM2.5 12.5C1.8125 12.5 1.22396 12.2552 0.734375 11.7656C0.244792 11.276 0 10.6875 0 10C0 9.3125 0.244792 8.72396 0.734375 8.23438C1.22396 7.74479 1.8125 7.5 2.5 7.5C3.1875 7.5 3.77604 7.74479 4.26562 8.23438C4.75521 8.72396 5 9.3125 5 10C5 10.6875 4.75521 11.276 4.26562 11.7656C3.77604 12.2552 3.1875 12.5 2.5 12.5ZM10 12.5C9.3125 12.5 8.72396 12.2552 8.23438 11.7656C7.74479 11.276 7.5 10.6875 7.5 10C7.5 9.3125 7.74479 8.72396 8.23438 8.23438C8.72396 7.74479 9.3125 7.5 10 7.5C10.6875 7.5 11.276 7.74479 11.7656 8.23438C12.2552 8.72396 12.5 9.3125 12.5 10C12.5 10.6875 12.2552 11.276 11.7656 11.7656C11.276 12.2552 10.6875 12.5 10 12.5ZM17.5 12.5C16.8125 12.5 16.224 12.2552 15.7344 11.7656C15.2448 11.276 15 10.6875 15 10C15 9.3125 15.2448 8.72396 15.7344 8.23438C16.224 7.74479 16.8125 7.5 17.5 7.5C18.1875 7.5 18.776 7.74479 19.2656 8.23438C19.7552 8.72396 20 9.3125 20 10C20 10.6875 19.7552 11.276 19.2656 11.7656C18.776 12.2552 18.1875 12.5 17.5 12.5ZM2.5 5C1.8125 5 1.22396 4.75521 0.734375 4.26562C0.244792 3.77604 0 3.1875 0 2.5C0 1.8125 0.244792 1.22396 0.734375 0.734375C1.22396 0.244792 1.8125 0 2.5 0C3.1875 0 3.77604 0.244792 4.26562 0.734375C4.75521 1.22396 5 1.8125 5 2.5C5 3.1875 4.75521 3.77604 4.26562 4.26562C3.77604 4.75521 3.1875 5 2.5 5ZM10 5C9.3125 5 8.72396 4.75521 8.23438 4.26562C7.74479 3.77604 7.5 3.1875 7.5 2.5C7.5 1.8125 7.74479 1.22396 8.23438 0.734375C8.72396 0.244792 9.3125 0 10 0C10.6875 0 11.276 0.244792 11.7656 0.734375C12.2552 1.22396 12.5 1.8125 12.5 2.5C12.5 3.1875 12.2552 3.77604 11.7656 4.26562C11.276 4.75521 10.6875 5 10 5ZM17.5 5C16.8125 5 16.224 4.75521 15.7344 4.26562C15.2448 3.77604 15 3.1875 15 2.5C15 1.8125 15.2448 1.22396 15.7344 0.734375C16.224 0.244792 16.8125 0 17.5 0C18.1875 0 18.776 0.244792 19.2656 0.734375C19.7552 1.22396 20 1.8125 20 2.5C20 3.1875 19.7552 3.77604 19.2656 4.26562C18.776 4.75521 18.1875 5 17.5 5Z' /%3E%3C/svg%3E%0A");
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 20C1.8125 20 1.22396 19.7552 0.734375 19.2656C0.244792 18.776 0 18.1875 0 17.5C0 16.8125 0.244792 16.224 0.734375 15.7344C1.22396 15.2448 1.8125 15 2.5 15C3.1875 15 3.77604 15.2448 4.26562 15.7344C4.75521 16.224 5 16.8125 5 17.5C5 18.1875 4.75521 18.776 4.26562 19.2656C3.77604 19.7552 3.1875 20 2.5 20ZM10 20C9.3125 20 8.72396 19.7552 8.23438 19.2656C7.74479 18.776 7.5 18.1875 7.5 17.5C7.5 16.8125 7.74479 16.224 8.23438 15.7344C8.72396 15.2448 9.3125 15 10 15C10.6875 15 11.276 15.2448 11.7656 15.7344C12.2552 16.224 12.5 16.8125 12.5 17.5C12.5 18.1875 12.2552 18.776 11.7656 19.2656C11.276 19.7552 10.6875 20 10 20ZM17.5 20C16.8125 20 16.224 19.7552 15.7344 19.2656C15.2448 18.776 15 18.1875 15 17.5C15 16.8125 15.2448 16.224 15.7344 15.7344C16.224 15.2448 16.8125 15 17.5 15C18.1875 15 18.776 15.2448 19.2656 15.7344C19.7552 16.224 20 16.8125 20 17.5C20 18.1875 19.7552 18.776 19.2656 19.2656C18.776 19.7552 18.1875 20 17.5 20ZM2.5 12.5C1.8125 12.5 1.22396 12.2552 0.734375 11.7656C0.244792 11.276 0 10.6875 0 10C0 9.3125 0.244792 8.72396 0.734375 8.23438C1.22396 7.74479 1.8125 7.5 2.5 7.5C3.1875 7.5 3.77604 7.74479 4.26562 8.23438C4.75521 8.72396 5 9.3125 5 10C5 10.6875 4.75521 11.276 4.26562 11.7656C3.77604 12.2552 3.1875 12.5 2.5 12.5ZM10 12.5C9.3125 12.5 8.72396 12.2552 8.23438 11.7656C7.74479 11.276 7.5 10.6875 7.5 10C7.5 9.3125 7.74479 8.72396 8.23438 8.23438C8.72396 7.74479 9.3125 7.5 10 7.5C10.6875 7.5 11.276 7.74479 11.7656 8.23438C12.2552 8.72396 12.5 9.3125 12.5 10C12.5 10.6875 12.2552 11.276 11.7656 11.7656C11.276 12.2552 10.6875 12.5 10 12.5ZM17.5 12.5C16.8125 12.5 16.224 12.2552 15.7344 11.7656C15.2448 11.276 15 10.6875 15 10C15 9.3125 15.2448 8.72396 15.7344 8.23438C16.224 7.74479 16.8125 7.5 17.5 7.5C18.1875 7.5 18.776 7.74479 19.2656 8.23438C19.7552 8.72396 20 9.3125 20 10C20 10.6875 19.7552 11.276 19.2656 11.7656C18.776 12.2552 18.1875 12.5 17.5 12.5ZM2.5 5C1.8125 5 1.22396 4.75521 0.734375 4.26562C0.244792 3.77604 0 3.1875 0 2.5C0 1.8125 0.244792 1.22396 0.734375 0.734375C1.22396 0.244792 1.8125 0 2.5 0C3.1875 0 3.77604 0.244792 4.26562 0.734375C4.75521 1.22396 5 1.8125 5 2.5C5 3.1875 4.75521 3.77604 4.26562 4.26562C3.77604 4.75521 3.1875 5 2.5 5ZM10 5C9.3125 5 8.72396 4.75521 8.23438 4.26562C7.74479 3.77604 7.5 3.1875 7.5 2.5C7.5 1.8125 7.74479 1.22396 8.23438 0.734375C8.72396 0.244792 9.3125 0 10 0C10.6875 0 11.276 0.244792 11.7656 0.734375C12.2552 1.22396 12.5 1.8125 12.5 2.5C12.5 3.1875 12.2552 3.77604 11.7656 4.26562C11.276 4.75521 10.6875 5 10 5ZM17.5 5C16.8125 5 16.224 4.75521 15.7344 4.26562C15.2448 3.77604 15 3.1875 15 2.5C15 1.8125 15.2448 1.22396 15.7344 0.734375C16.224 0.244792 16.8125 0 17.5 0C18.1875 0 18.776 0.244792 19.2656 0.734375C19.7552 1.22396 20 1.8125 20 2.5C20 3.1875 19.7552 3.77604 19.2656 4.26562C18.776 4.75521 18.1875 5 17.5 5Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        /* display: none; */
        position: absolute; /* header를 기준으로 정렬 */
        right: -105%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--color-white);
        color: #111;
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: var(--header-var) 0 0 0;
        height: calc(100dvh - var(--header-var)); /* 높이 제한을 줘야 스크롤바가 적용 됨 */
        overflow-y: auto;
        /* 주어진 높이보다 콘텐츠가 짧으면 스크롤바 x 
            콘텐츠가 더 긴 경우에만 스크롤바가 생김 */
        border-top: 1px solid #f7f7f7;
        padding: 20px 0 0 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-tit);
        padding: 20px 70px 20px var(--wrapper-margin);
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #9E1313;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute; /* a를 기준으로 정렬 */
        right: calc(var(--wrapper-margin) + 3px);
        top: 50%;
        transform: translateY(-50%);
        width: 18.96px;
        height: 10.45px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 11' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.4879 7.72422L16.8379 0.374218C17.0879 0.124218 17.3796 0.00338478 17.7129 0.011718C18.0462 0.0200512 18.3379 0.149218 18.5879 0.399218C18.8379 0.649218 18.9629 0.940885 18.9629 1.27422C18.9629 1.60755 18.8379 1.89922 18.5879 2.14922L10.9129 9.84922C10.7129 10.0492 10.4879 10.1992 10.2379 10.2992C9.9879 10.3992 9.7379 10.4492 9.4879 10.4492C9.2379 10.4492 8.9879 10.3992 8.7379 10.2992C8.4879 10.1992 8.2629 10.0492 8.0629 9.84922L0.362903 2.14922C0.112903 1.89922 -0.0079305 1.60338 0.000402824 1.26172C0.00873614 0.920053 0.137903 0.624219 0.387903 0.374219C0.637903 0.124219 0.92957 -0.0007811 1.2629 -0.000781114C1.59624 -0.000781129 1.8879 0.124219 2.1379 0.374219L9.4879 7.72422Z' /%3E%3C/svg%3E%0A");
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li:nth-child(1) a::after,
    header .gnb .gnb_wrap ul.depth1 > li:nth-child(3) a::after,
    header .gnb .gnb_wrap ul.depth1 > li:nth-child(4) a::after {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: translateY(-50%) rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 11' fill='%239E1313' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.4879 7.72422L16.8379 0.374218C17.0879 0.124218 17.3796 0.00338478 17.7129 0.011718C18.0462 0.0200512 18.3379 0.149218 18.5879 0.399218C18.8379 0.649218 18.9629 0.940885 18.9629 1.27422C18.9629 1.60755 18.8379 1.89922 18.5879 2.14922L10.9129 9.84922C10.7129 10.0492 10.4879 10.1992 10.2379 10.2992C9.9879 10.3992 9.7379 10.4492 9.4879 10.4492C9.2379 10.4492 8.9879 10.3992 8.7379 10.2992C8.4879 10.1992 8.2629 10.0492 8.0629 9.84922L0.362903 2.14922C0.112903 1.89922 -0.0079305 1.60338 0.000402824 1.26172C0.00873614 0.920053 0.137903 0.624219 0.387903 0.374219C0.637903 0.124219 0.92957 -0.0007811 1.2629 -0.000781114C1.59624 -0.000781129 1.8879 0.124219 2.1379 0.374219L9.4879 7.72422Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        padding: 14px var(--wrapper-margin) 14px calc(var(--wrapper-margin) + 14px);
        background-color: #f7f7f7;
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        font-size: 16px;
        color: #767676;
        line-height: 3;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap을 기준으로 정렬 */
        left: var(--wrapper-margin);
        top: 0;
        width: 80px;
        height: var(--header-var);
        background: url(../images/common/logo_r.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute; /* gnb_wrap을 기준으로 정렬 */
        right: 0;
        top: 0;
        width: var(--header-var);
        height: var(--header-var);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 17.5L0 15.75L7 8.75L0 1.75L1.75 0L8.75 7L15.75 0L17.5 1.75L10.5 8.75L17.5 15.75L15.75 17.5L8.75 10.5L1.75 17.5Z' /%3E%3C/svg%3E%0A");
    }

    /* 메뉴가 열렸을 때 */
    header.menu_mo .gnb .gnb_wrap {
        /* display: block; */
        right: 0;
    }
    
} /*@media*/
@media screen and (max-width:768px){
    header .logo a {
        width: 70px;
        height: 22px;
    }
    header .gnb .gnb_open {
        background-size: 20px;
    }
    header .gnb .gnb_wrap .gnb_close {
        background-size: 20px;
    }
}
/**********************종료 : 모바일버전 메뉴*************************/

footer .f_head {
    border: 1px solid #ccc;
    padding: 33px 0 33px;
    color: #111;
}
footer .f_head .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: var(--wrapper-margin);
}
footer .f_head .wrapper::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 150px;
    background-color: #ccc;
}
footer .f_head .customer {
    display: flex;
}
footer .f_head .customer,
footer .f_head .bank_info {
    width: 45%;
}
footer .f_head .customer .info strong,
footer .f_head .bank_info strong {
    font-weight: 700;
    line-height: 1.3;
    position: relative;
    padding-left: 14px;
}
footer .f_head .customer .info strong::before,
footer .f_head .bank_info strong::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 4px;
    height: 17px;
    background-color: #C79A63;
} 
footer .f_head .customer {
    position: relative;
}
footer .f_head .customer .info span {
    width: 70%;
    display: block;
}
footer .f_head .customer .info span .mo_only {
    display: none;
}
footer .f_head .customer .info h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
    margin: 11px 0 11px 0;
    position: relative;
    padding-left: 34px;
}
footer .f_head .customer .info h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 17.5px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5465 17.5715C14.5128 17.5715 12.5034 17.1281 10.5185 16.2414C8.53356 15.3547 6.7276 14.0979 5.10061 12.4709C3.47362 10.8439 2.21677 9.03793 1.33006 7.053C0.443355 5.06807 0 3.05874 0 1.025C0 0.732146 0.0976194 0.488097 0.292858 0.292858C0.488097 0.0976194 0.732146 0 1.025 0H4.97859C5.20637 0 5.40974 0.077282 5.58871 0.231846C5.76768 0.38641 5.87343 0.569447 5.90597 0.780955L6.5405 4.19763C6.57304 4.45795 6.5649 4.6776 6.51609 4.85656C6.46729 5.03553 6.3778 5.1901 6.24764 5.32026L3.88037 7.71193C4.20577 8.31392 4.59218 8.89557 5.0396 9.45688C5.48702 10.0182 5.97919 10.5592 6.51609 11.0798C7.02046 11.5842 7.54923 12.0519 8.10241 12.4831C8.65559 12.9142 9.2413 13.3088 9.85956 13.6667L12.1536 11.3727C12.3 11.2262 12.4912 11.1164 12.7271 11.0432C12.963 10.97 13.1949 10.9496 13.4227 10.9822L16.7905 11.6655C17.0183 11.7306 17.2054 11.8486 17.3518 12.0194C17.4983 12.1902 17.5715 12.3814 17.5715 12.5929V16.5465C17.5715 16.8393 17.4739 17.0834 17.2786 17.2786C17.0834 17.4739 16.8393 17.5715 16.5465 17.5715Z' fill='%23111111'/%3E%3C/svg%3E%0A");
}
footer .f_head .customer .info span {
    font-size: 15px;
}
footer .f_head .customer .info p {
    font-size: 15px;
    color: #767676;
    margin: 11px 0 0 0;
}
footer .f_head .customer .quick_menu {
    margin: 10px 0 0 0;
}
footer .f_head .customer .quick_menu ul li + li {
    margin: 10px 0 0 0;
}
footer .f_head .customer .quick_menu ul li a {
    display: block;
    border: 1px solid #ccc;
    border-radius: 30px;
    color: #767676;
    padding: 8px 25px;
    text-align: center;
}
footer .f_head .bank_info strong {
    display: block;
    margin: 0 0 20px 0;
}
footer .f_head .bank_info .inner {
    display: flex;
    gap: 0 40px;
}
footer .f_head .bank_info .inner ul li {
    display: grid;
    grid-template-columns: 50px 1fr; /* ← 왼쪽 고정, 오른쪽 자동 */
    column-gap: 30px;
    align-items: center;
}
footer .f_head .bank_info .inner ul li + li {
    margin-top: 5px;
}
footer .f_head .bank_info .inner .bank_img {
    overflow: hidden;
    width: 50px;
    height: 63px;
}
footer .f_head .bank_info .inner .bank_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
footer .f_sub {
    background-color: #111;
    padding: 30px 0 50px 0;
    color: var(--color-white60);
    font-size: 15px;
}
footer .f_sub .wrapper {
    position: relative;
}
footer .f_sub .f_logo {
    padding: 80px 0 25px 0;
}
footer .f_sub .f_logo img {
    width: 150px;
}
footer .f_sub .inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
footer .f_sub .inner::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    height: 1px;
    background-color: rgba(204, 204, 204, 0.2);
}
footer .f_sub .inner .sns {
    width: 120px;
}
footer .f_sub .inner .sns ul {
    display: flex;
    gap: 0 40px;
}
footer .f_sub .inner .sns ul li a {
    display: block;
    position: relative;
}
footer .f_sub .inner .sns ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 34px;
    height: 34px;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .f_sub .inner .sns ul li.book a::before {
    background-size: 24px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 23' fill='white' fill-opacity='0.8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5479 0C22.8619 0 24.7549 1.89297 24.7549 4.20703V14.3613C24.7549 16.6674 22.8697 18.5605 20.5557 18.5605H14.7188L13.7256 20.2783L12.7471 21.9717C12.5642 22.2818 12.1183 22.2818 11.9434 21.9717L10.9658 20.2783L9.97168 18.5605H4.19824C1.89224 18.5604 0 16.6753 0 14.3613V4.19922C0 1.89319 1.88429 0.000132916 4.19824 0H20.5479ZM18.4961 7.45117C17.3273 7.45131 16.381 8.42931 16.3809 9.62988C16.3809 10.8306 17.3273 11.8085 18.4961 11.8086C18.9812 11.8086 19.4265 11.6416 19.7764 11.3633V11.9678C19.7764 11.9678 19.6494 12.5644 18.7588 12.5645V13.6855C18.7617 13.6859 19.7226 13.796 20.5801 12.9385C20.5801 12.9385 20.977 12.5166 21.0645 11.96V7.53906H19.7764V7.89648C19.4186 7.61826 18.9731 7.45117 18.4961 7.45117ZM3.68945 11.8564H4.96191V11.4512C5.31975 11.7692 5.77345 11.9678 6.27441 11.9678C7.41125 11.9675 8.33382 10.9581 8.33398 9.70996C8.33398 8.46165 7.4193 7.44364 6.27441 7.44336C5.78145 7.44336 5.31974 7.634 4.96191 7.95996V6.0918H3.68945V11.8564ZM13.5186 7.44336C12.2542 7.44336 11.2285 8.45367 11.2285 9.70215C11.2288 10.9504 12.2543 11.96 13.5186 11.96C14.7827 11.9598 15.8083 10.9503 15.8086 9.70215C15.8086 8.45376 14.7908 7.44351 13.5186 7.44336ZM8.47656 5.98047V7.13281C8.47656 7.13281 9.06542 7.21262 9.17676 7.78516V11.8564H10.4883V7.75293C10.4086 7.18064 10.0674 6.75098 10.0674 6.75098C9.31992 5.86846 8.47656 5.98047 8.47656 5.98047ZM6.01953 8.57227C6.65568 8.57229 7.16504 9.07395 7.16504 9.70215C7.16479 10.3301 6.65552 10.831 6.01953 10.8311C5.5505 10.8311 5.14476 10.5528 4.96973 10.1475C4.91412 10.0124 4.8741 9.86102 4.87402 9.70215C4.87402 9.54327 4.90624 9.39192 4.96973 9.25684C5.14467 8.85128 5.55036 8.57227 6.01953 8.57227ZM13.5186 8.62012C14.1228 8.62026 14.6152 9.10583 14.6152 9.70215C14.615 10.2982 14.1306 10.7831 13.5186 10.7832C12.9144 10.7832 12.4212 10.2983 12.4209 9.70215C12.4209 9.10574 12.9142 8.62012 13.5186 8.62012ZM18.7354 8.50879C19.1883 8.50895 19.5855 8.76339 19.7764 9.12891C19.8559 9.27997 19.8955 9.44716 19.8955 9.62207C19.8955 9.79702 19.8479 9.9721 19.7764 10.1152C19.5856 10.4888 19.1884 10.7352 18.7354 10.7354C18.0912 10.7354 17.5742 10.2344 17.5742 9.62207C17.5743 9.00981 18.0992 8.50879 18.7354 8.50879Z' /%3E%3C/svg%3E%0A");
}
footer .f_sub .inner .sns ul li.talk a::before {
    background-size: 22px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 18' fill='white' fill-opacity='0.8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5957 0C14.9005 0.000196545 19.2041 3.41982 19.2041 7.58691C19.204 11.754 14.9141 15.1805 9.60938 15.1807C9.0293 15.1778 8.44963 15.1369 7.875 15.0576L3.98145 17.6826C3.93529 17.7222 3.87798 17.7461 3.81738 17.751C3.74417 17.7508 3.67307 17.7242 3.61816 17.6758C3.58064 17.6379 3.55407 17.59 3.54199 17.5381C3.52995 17.4861 3.53277 17.4314 3.5498 17.3809L4.45508 14.002C1.78206 12.6517 3.4031e-05 10.2873 0 7.58691C0 3.42656 4.28388 0 9.5957 0ZM6.88867 5.3252C6.76898 5.31986 6.65013 5.34815 6.5459 5.40723C6.44808 5.47095 6.37682 5.56885 6.34668 5.68164L4.89453 9.62207C4.86712 9.69744 4.81838 9.78009 4.81836 9.85547C4.80659 9.9235 4.80659 9.99349 4.81836 10.0615C4.81477 10.1001 4.81474 10.1391 4.81836 10.1777C4.83844 10.2914 4.89992 10.394 4.99023 10.4658C5.08289 10.5353 5.19672 10.5714 5.3125 10.5684C5.41939 10.5817 5.528 10.5574 5.61914 10.5C5.7102 10.4425 5.7785 10.3551 5.8125 10.2529L6.10059 9.41016H7.90332L8.19043 10.2529C8.2253 10.3532 8.29336 10.4389 8.38281 10.4961C8.47234 10.5533 8.57886 10.5789 8.68457 10.5684C8.75316 10.57 8.82122 10.5571 8.88477 10.5312C8.9484 10.5053 9.00669 10.4671 9.05469 10.418C9.10424 10.3731 9.1429 10.3174 9.16895 10.2559C9.19493 10.1944 9.20733 10.1282 9.20508 10.0615C9.20742 10.0181 9.20742 9.97404 9.20508 9.93066C9.18128 9.82634 9.15172 9.72302 9.11621 9.62207L7.74512 5.75C7.71237 5.61287 7.62964 5.49279 7.5127 5.41406C7.40232 5.35132 7.27629 5.32072 7.14941 5.3252H6.88867ZM2.32324 5.41406C2.17572 5.41208 2.03062 5.45741 1.91113 5.54395C1.85721 5.58566 1.81476 5.64028 1.78613 5.70215C1.75755 5.76408 1.74388 5.83226 1.74707 5.90039C1.74374 5.93687 1.74374 5.97426 1.74707 6.01074C1.75799 6.06811 1.78055 6.12267 1.81348 6.1709C1.84639 6.21909 1.88907 6.25996 1.93848 6.29102C2.05011 6.35738 2.17878 6.39137 2.30859 6.3877H3.35742L3.36426 9.99219C3.35748 10.0422 3.35748 10.0935 3.36426 10.1436C3.38682 10.2652 3.45303 10.375 3.5498 10.4521C3.65145 10.531 3.77765 10.572 3.90625 10.5684C3.97968 10.5712 4.05277 10.5583 4.12109 10.5312C4.18956 10.5041 4.25212 10.4627 4.30371 10.4102C4.35736 10.3553 4.39967 10.2896 4.42676 10.2178C4.45377 10.1459 4.46505 10.0688 4.46094 9.99219V6.3877H5.47559C5.62055 6.39433 5.76331 6.3501 5.87988 6.26367C5.93392 6.22051 5.97728 6.16551 6.00586 6.10254C6.03445 6.0394 6.04815 5.96963 6.04492 5.90039C6.04823 5.86634 6.04825 5.8319 6.04492 5.79785C6.03573 5.73976 6.01362 5.68431 5.98047 5.63574C5.94728 5.58715 5.90333 5.54632 5.85254 5.5166C5.74271 5.44515 5.61337 5.40946 5.48242 5.41406H2.32324ZM16.2988 5.3252C16.2169 5.32359 16.1358 5.3448 16.0654 5.38672C15.9908 5.44624 15.9203 5.51085 15.8535 5.5791L14.1191 7.58008V5.75684C14.097 5.63315 14.0317 5.52108 13.9346 5.44141C13.8224 5.35968 13.6845 5.31966 13.5459 5.32715C13.4075 5.33474 13.2754 5.38919 13.1729 5.48242C13.0718 5.59786 13.0184 5.748 13.0225 5.90137L12.9814 9.95801C12.9747 10.008 12.9747 10.0593 12.9814 10.1094C13.004 10.231 13.0693 10.3408 13.166 10.418C13.2655 10.4959 13.3893 10.5367 13.5156 10.5342C13.5913 10.5373 13.6676 10.5252 13.7383 10.498C13.8089 10.4709 13.8727 10.4289 13.9268 10.376C14.0278 10.2605 14.0822 10.1114 14.0781 9.95801V8.81348L14.6885 8.17676L15.9629 10.2324C16.0157 10.3288 16.0913 10.4114 16.1826 10.4727C16.2668 10.5168 16.3611 10.538 16.4561 10.5342C16.5992 10.5362 16.7393 10.4905 16.8535 10.4043C16.9143 10.3526 16.9623 10.2868 16.9922 10.2129C17.022 10.1389 17.0333 10.0579 17.0254 9.97852V9.94434C16.9876 9.82921 16.9315 9.7202 16.8604 9.62207V9.55371L15.4902 7.42969L16.6279 6.18164C16.678 6.12513 16.7215 6.06325 16.7578 5.99707C16.7935 5.93441 16.8123 5.86314 16.8125 5.79102V5.70215C16.8028 5.64689 16.7825 5.59394 16.752 5.54688C16.7213 5.49979 16.6813 5.45911 16.6348 5.42773C16.5359 5.36016 16.4186 5.32457 16.2988 5.3252ZM9.91699 5.3252C9.84243 5.32179 9.76778 5.33422 9.69824 5.36133C9.62872 5.38848 9.56525 5.42942 9.5127 5.48242C9.40926 5.59627 9.35547 5.74673 9.3623 5.90039L9.38281 9.80078C9.3778 9.87607 9.37779 9.95206 9.38281 10.0273C9.40385 10.1639 9.47723 10.2873 9.58789 10.3701C9.71178 10.4508 9.85929 10.489 10.0068 10.4795H12.3232C12.4707 10.4814 12.6149 10.4351 12.7344 10.3486C12.7882 10.3069 12.8318 10.2532 12.8604 10.1914C12.889 10.1294 12.9017 10.0604 12.8984 9.99219V9.88965C12.8879 9.83206 12.866 9.77686 12.833 9.72852C12.8 9.68018 12.7569 9.63913 12.707 9.6084C12.596 9.53961 12.4675 9.50417 12.3369 9.50586H10.4521V5.90039C10.4588 5.8528 10.4589 5.80442 10.4521 5.75684C10.4324 5.63381 10.3686 5.5218 10.2734 5.44141C10.1708 5.3645 10.0453 5.3237 9.91699 5.3252ZM7.67676 8.63574H6.38184L7.03223 6.5791L7.67676 8.63574Z' /%3E%3C/svg%3E%0A");
}
footer .f_sub .inner .sns ul li.insta a::before {
    background-size: 22px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='white' fill-opacity='0.8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0976 2.00012C14.0625 2.00012 14.4105 2.01333 15.5824 2.0662C16.6662 2.11466 17.2521 2.29529 17.6442 2.44948C18.1641 2.65214 18.5341 2.89004 18.9218 3.27772C19.3095 3.66541 19.5518 4.03548 19.7501 4.55533C19.8999 4.94742 20.0849 5.53336 20.1333 6.61713C20.1862 7.789 20.1994 8.13704 20.1994 11.102C20.1994 14.0669 20.1862 14.4149 20.1333 15.5868C20.0849 16.6706 19.9043 17.2565 19.7501 17.6486C19.5474 18.1685 19.3095 18.5385 18.9218 18.9262C18.5341 19.3139 18.1641 19.5562 17.6442 19.7545C17.2521 19.9042 16.6662 20.0893 15.5824 20.1377C14.4105 20.1906 14.0625 20.2038 11.0976 20.2038C8.13264 20.2038 7.7846 20.1906 6.61273 20.1377C5.52896 20.0893 4.94302 19.9086 4.55093 19.7545C4.03108 19.5518 3.66101 19.3139 3.27332 18.9262C2.88563 18.5385 2.64333 18.1685 2.44508 17.6486C2.29529 17.2565 2.11026 16.6706 2.0618 15.5868C2.00893 14.4149 1.99571 14.0669 1.99571 11.102C1.99571 8.13704 2.00893 7.789 2.0618 6.61713C2.11026 5.53336 2.29088 4.94742 2.44508 4.55533C2.64773 4.03548 2.88563 3.66541 3.27332 3.27772C3.66101 2.89004 4.03108 2.64773 4.55093 2.44948C4.94302 2.29969 5.52896 2.11466 6.61273 2.0662C7.7846 2.00893 8.13705 2.00012 11.0976 2.00012ZM11.0976 0C8.08418 0 7.7053 0.0132166 6.52021 0.0660831C5.33952 0.11895 4.53331 0.308388 3.82842 0.581532C3.0971 0.863486 2.48032 1.24677 1.86355 1.86354C1.24677 2.48032 0.867893 3.1015 0.581532 3.82842C0.308388 4.5333 0.11895 5.33952 0.0660832 6.52461C0.0132166 7.70529 0 8.08417 0 11.0976C0 14.111 0.0132166 14.4898 0.0660832 15.6749C0.11895 16.8556 0.308388 17.6618 0.581532 18.3711C0.863487 19.1024 1.24677 19.7192 1.86355 20.336C2.48032 20.9528 3.10151 21.3316 3.82842 21.618C4.53331 21.8911 5.33952 22.0806 6.52462 22.1334C7.70971 22.1863 8.08418 22.1995 11.102 22.1995C14.1198 22.1995 14.4942 22.1863 15.6793 22.1334C16.86 22.0806 17.6662 21.8911 18.3755 21.618C19.1069 21.336 19.7236 20.9528 20.3404 20.336C20.9572 19.7192 21.3361 19.098 21.6224 18.3711C21.8956 17.6662 22.085 16.86 22.1379 15.6749C22.1907 14.4898 22.204 14.1154 22.204 11.0976C22.204 8.07977 22.1907 7.70529 22.1379 6.5202C22.085 5.33952 21.8956 4.5333 21.6224 3.82401C21.3405 3.09269 20.9572 2.47592 20.3404 1.85914C19.7236 1.24236 19.1025 0.863486 18.3755 0.577126C17.6706 0.303982 16.8644 0.114544 15.6793 0.0616776C14.4898 0.0132166 14.111 0 11.0976 0Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M11.0975 5.40234C7.95194 5.40234 5.39673 7.95315 5.39673 11.1031C5.39673 14.2531 7.94754 16.8039 11.0975 16.8039C14.2475 16.8039 16.7983 14.2531 16.7983 11.1031C16.7983 7.95315 14.2475 5.40234 11.0975 5.40234ZM11.0975 14.7994C9.05333 14.7994 7.39684 13.1429 7.39684 11.0987C7.39684 9.05454 9.05333 7.39805 11.0975 7.39805C13.1417 7.39805 14.7982 9.05454 14.7982 11.0987C14.7982 13.1429 13.1417 14.7994 11.0975 14.7994Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M17.0229 6.50079C17.7577 6.50079 18.3533 5.90512 18.3533 5.17032C18.3533 4.43552 17.7577 3.83984 17.0229 3.83984C16.2881 3.83984 15.6924 4.43552 15.6924 5.17032C15.6924 5.90512 16.2881 6.50079 17.0229 6.50079Z' /%3E%3C/svg%3E%0A");
}
footer .f_sub .inner .f_nav ul {
    display: flex;
    gap: 0 30px;
}
footer .f_sub .inner .f_nav ul li a {
    display: block;
}
footer .f_sub .inner .f_nav ul li a span {
    font-weight: 700;
}
footer .f_sub .f_info {
    position: relative;
}
footer .f_sub .f_info::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 1px;
    background-color: rgba(204, 204, 204, 0.2);
}
footer .f_sub .f_info span,
footer .f_sub .f_info address {
    margin-right: 30px;
    line-height: 2;
}
footer .f_sub .copyright p {
    color: var(--color-white40);
    margin: 50px 0 0 0;
}
/***** 모바일메뉴 시작 *****/
@media screen and (max-width:768px){
    footer .f_head {
        border: 0;
        padding: 0;
        border-top:1px solid #ccc;
        position: relative;
    }
    footer .f_head::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 134px;
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }
    footer .f_head .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: var(--wrapper-margin);
    }
    footer .f_head .wrapper::before {
        display: none;
    }
    footer .f_head .customer {
        display: flex;
        justify-content: space-between;
    }
    footer .f_head .customer,
    footer .f_head .bank_info {
        width: 100%;
        margin: 27px 0 0 0;
    }
    footer .f_head .customer .info span .mo_only {
        display: block;
    }
    footer .f_head .customer .info h3 {
        font-size: 17px;
    }
    footer .f_head .customer .info h3::before {
        top: 3px;
        background-size: 15px;
    }
    footer .f_head .customer .quick_menu ul li a {
        display: block;
        border: 1px solid #ccc;
        border-radius: 30px;
        color: #767676;
        padding: 8px 25px;
        text-align: center;
    }
    footer .f_head .bank_info {
        margin: 27px 0 27px 0;
    }
    footer .f_head .bank_info strong {
        display: block;
        margin: 0 0 20px 0;
    }
    footer .f_head .bank_info .inner ul li {
        column-gap: 20px;
    }
    footer .f_head .bank_info .inner .bank_img {
        width: 40px;
        height: 53px;

    }

    footer .f_sub {
        padding: 40px 0 40px 0;
        font-size: 13px;
    }
    footer .f_sub .f_logo {
        padding: 0;
        text-align: center;
    }
    footer .f_sub .f_logo img {
        width: 120px;
    }
    footer .f_sub .inner {
        margin: 10px 0 20px 0;
        position: relative;
        width: auto;
        height: 100px;
        display: flex;
        gap: 30px 0;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    footer .f_sub .inner::before {
        display: none;
    }
    footer .f_sub .inner .sns {
        width: 120px;
    }
    footer .f_sub .inner .sns ul {
        display: flex;
        gap: 0 40px;
    }
    footer .f_sub .inner .f_nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0 25px;
    }
    footer .f_sub .f_info::before {
        display: none;
    }
    footer .f_sub .copyright p {
        margin: 25px 0 0 0;
    }
}
/***** 모바일메뉴 끝 *****/