/* 모든페이지에서 중복되는 스타일 */
    
/* 1줄 제한 */
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  */
/* 2줄제한 */
    /* overflow: hidden;
    line-height: 1.5; 행간*줄수 = 단위 em
    height: 3em; */

    /* 글에 ...추가
    display: -webkit-box;
    -webkit-line-clamp: 2; 2번째 줄 넘어갈 시 ...으로 마무리
    -webkit-box-orient: vertical; */

:root {
    --color-white80 : rgba(255, 255, 255, 0.8);
    --color-white70 : rgba(255, 255, 255, 0.7);
    --color-white60 : rgba(255, 255, 255, 0.6);
    --color-white50 : rgba(255, 255, 255, 0.5);
    --color-white40 : rgba(255, 255, 255, 0.4);
    --color-white30 : rgba(255, 255, 255, 0.3);
    --color-white20 : rgba(255, 255, 255, 0.2);
    --color-line : #ccc;
    --header-h : 100px;
}

html {
    font-size: 10px;
}
body {
    font-family: "Playfair Display", "Pretendard", "sans-serif";
    /* 영문폰트와 한글폰트를 쓸 때
        반드시 영문폰트는 한글이 지원되는 폰트면 안됨 
        font-family에서 영문폰트를 먼저 선언하고 다음에 한글 폰트를 선언
        영문폰트를 먼저 적용하고 지원이 안되는 한글을 만나면 다음 폰트가 적용 */
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    word-break: keep-all; /* 단어별로 줄 바꿈 */
    word-wrap: break-word;
    background-color: #000;
    /* 단어가 너무 길었을 때 강제 줄 바꿈 */
    /* overflow-x: hidden; */
}

#wrap {
    position: relative; /* header 정렬의 기준 */
    /* overflow: hidden; */
}

/* html문서 구조상 글자를 써줘야 하는데
    글자를 안 보이게 하고 싶을 때 blind 클래스를 주면 사라짐 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0); /* 사각형 생성 */
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
/* 기본 제목 스타일 */
/* .tit_ey {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    color: #4F3421;
}*/
.wrapper {
    width: 1560px;
    margin: 0 auto; /* 가운데 정렬 */
}


::selection {
    background-color: var(--color-point);
}