@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
	font-family: "Pretendard";
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/PretendardVariable.woff2") format("woff2-variations");
}
