header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-white20);
}
header .wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 100px;
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    padding: 0 25px;
    font-size: 20px;
}
header .gnb .gnb_wrap ul li.on a {
    font-weight: 700;
    color: #FF5F00;
}
header .gnb .gnb_wrap ul li a span {
    position: relative;
}
header .gnb .gnb_wrap ul li a span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: 0.3s;
}
header .gnb .gnb_wrap ul li a span:hover::after {
    width: 100%;
}
header .gnb .gnb_wrap ul li.on a span::after {
    display: none;
}