@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative;
}
.visual .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
}
.visual .tit strong {
    padding: 7px 23px;
    background-color: #FF5F00;
    border-radius: 40px;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Pretendard';
}
.visual .tit h2 {
    font-size: 180px;
    font-weight: 800;
    line-height: 1.3;
    color: #FF5F00;
    margin: 0 0 10px 0;
}
.visual .tit p {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;
}
.visual .tit p span {
    position: relative;
    padding-left: 165px;
}
.visual .tit p span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 125px;
    height: 5px;
    background-color: #fff;
}
.visual .list ul {
    display: flex;
    flex-direction: column;
    gap: 96px 0;
}
.visual .list ul li {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Pretendard';
}
.visual .list ul li span {
    position: relative;
}
.visual .list ul li span::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 18px;
    height: 5px;
    background-color: #FF5F00;
}
.visual .scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    font-size: 15px;
}
.visual .scroll::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 12' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 1.77539L10 11.7754L-4.37114e-07 1.77539L1.775 0.000389975L10 8.22539L18.225 0.000389256L20 1.77539Z' /%3E%3C/svg%3E%0A");
    animation: scroll 1s linear infinite;
}
@keyframes scroll {
    0% { bottom: -30px;}    
    50% { bottom: -40px;}
    100% { bottom: -30px;}
}